<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinFormFilmsBD.Properties.Settings.FilmsBDConnectionString"
            connectionString="Data Source=DESKTOP-9ICF2PD\SQLEXPRESS;Initial Catalog=FilmsBD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>