@model FilmLab2._2.Models.Film

@{
    ViewData["Title"] = "Видалення фільму";
}

<h1>Видалення фільму</h1>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h3>Ви впевнені, що хочете видалити цей фільм?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Назва
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Рік
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            Продюсер
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producer.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Скасувати</a>
    </form>
</div>
