@model FilmLab2._2.Models.FilmGenre

@{
    ViewData["Title"] = "Новий зв'язок";
}

<h1>Новий жанр фільму</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FilmID" class="control-label">Фільм</label>
                <select asp-for="FilmID" class="form-control" asp-items="ViewBag.FilmID"></select>
            </div>
            <div class="form-group">
                <label asp-for="GenreID" class="control-label">Актор</label>
                <select asp-for="GenreID" class="form-control" asp-items="ViewBag.GenreID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Скасувати</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
